@import url("https://fonts.googleapis.com/css?family=Oswald:300|Noto+Sans");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  --bgimage: url("./images/01d.jpg");
  padding: 10px 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#00000080, #000000),
    var(--bgimage) center center/cover;
}

.wrapper {
  background-color: #ffffff20;
  height: 600px;
  padding: 0.5rem 2rem 1rem;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 6px 6px #000000;
  border: 1px solid #aaa;
}

.location {
  font-size: 1.5em;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
}
.current-temp {
  grid-column: 1/3;
  font-size: 6.5rem;
  line-height: 7rem;
  font-family: "Oswald";
}
.min-temp {
  text-align: left;
}
.max-temp {
  text-align: right;
}

.weather {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.icon {
  height: 7rem;
}

.section-two {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.25rem;
}

.value {
  font-size: 1rem;
}

input {
  all: unset;
  font-size: 1.25rem;
  background-color: transparent;
  text-align: center;
  border: none;
  padding: 0.25rem 0;
  outline: none;
}

@media only screen and (max-width: 360px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    border: none;
  }
}
